/*
------------------------------------
            Mediaqueries
------------------------------------
*/

@media (max-width: 992px) {
    .navigation a {
        display: block;
        padding: 0 10px;
    }
    a.phone-number {
        padding-right: 20px;
    }
    .feedback {
        margin-left: 30px;
    }
}

@media (max-width: 768px) {
    .navigation {
        display: none;
    }
}

@media (max-width: 880px) {
    .header-bottom::before {
        left: 43%;
    }
}

@media (max-width: 650px) {
    .header-bottom::before {
        left: 41%;
    }
}

@media (max-width: 550px) {
    .header-bottom::before {
        left: 38%;
    }
}

@media (max-width: 380px) {
    .header-bottom::before {
        left: 35%;
    }
}

@media (min-width: 1250px) {
    .header-bottom::before {
        left: 46%;
    }
}

@media (min-width: 1400px) {
    .header-bottom::before {
        left: 47%;
    }
}

@media (min-height: 769px) {
    div.navbar {
        display: none !important;
    }
}







// @media (min-width: 0px) {
//   .navbar-toggle,
//   #user_drop {
//     display: block;
//   }
// }

@media (max-width: 768px) {
  body {
    padding: 0;
  }
  .navbar {
    background: none;
    border: none;
  }
  #owl-demo2 .owl-nav.disabled {
    display: none;
}
}

@media (max-width: 990px) {
    .feedback a {
        margin-left: 15px;
    }
}