/*

====================================================
                Общие стили
====================================================

*/

body {
    font-family: 'DejaVuSerifBook', 'MyriadProRegular', Times, Arial, serif, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    color: #31353e;
    font-style: normal;
}

.container {
    max-width: 960px;
    min-width: 320px;
}

* {
    box-sizing: border-box;
}

h1,
p {}

h1 {}

h2,
h3 {}

p {}

@font-face {
    font-family: "DejaVuSerifBook";
    src: url("../fonts/DejaVuSerifBook/DejaVuSerifBook.eot");
    src: url("../fonts/DejaVuSerifBook/DejaVuSerifBook.eot?#iefix")format("embedded-opentype"),
    url("../fonts/DejaVuSerifBook/DejaVuSerifBook.woff") format("woff"),
    url("../fonts/DejaVuSerifBook/DejaVuSerifBook.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "DejaVuSerifBold";
    src: url("../fonts/DejaVuSerifBold/DejaVuSerifBold.eot");
    src: url("../fonts/DejaVuSerifBold/DejaVuSerifBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/DejaVuSerifBold/DejaVuSerifBold.woff") format("woff"),
    url("../fonts/DejaVuSerifBold/DejaVuSerifBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* 
------------------------------------
            Стили для кнопок
------------------------------------
*/


/*
------------------------------------
            Clearfix
------------------------------------
*/

.clearfix::before,
.clearfix::after {
    display: table;
    content: "";
}

.clearfix::after {
    clear: both;
}


/*

====================================================
                Header
====================================================

*/

.header-main {
    min-height: 90px;
    position: relative;
    font-family: 'MyriadProRegular', sans-serif;
    padding-top: 5px;
}

.header-top {
    font-size: 13px;
    line-height: 30px;
    padding-bottom: 5px;
}

.header-top a {
    color: #b28a48;
    text-decoration: none;
}

a.phone-number {
    font-size: 16px;
    line-height: 30px;
    color: #666;
    padding-right: 50px;
}

.feedback {
    padding-left: 35px;
}

.feedback a {
    margin-left: 40px;
}

.dotted {
    border-bottom: 1px dotted #b28a48;
}

.logo {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 45%;
    width: 110px;
    height: 165px;
    background: #fff url("../img/logo.png") no-repeat center;
    border-bottom: 3px solid #b28a48;
    padding: 15px;
    z-index: 10;
    box-shadow: 0 0 25px rgba(0,0,0,0.2);
}

ul.navigation {
    margin: 0;
    padding: 0;
    font-size: 0;
}

ul.navigation li:nth-child(1) a {
    padding-left: 0;
}

ul.navigation li:nth-child(4) a {
    padding-left: 0;
}

ul.navigation li:nth-child(5) a {
    padding-right: 0;
}

.navigation li {
    display: inline-block;
    font-size: 16px;
}

.navigation li:nth-child(3) {
    padding-right: 33%;
}

.navigation a {
    display: block;
    padding: 0 32px;
    font-size: 15px;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    position: relative;
}

.navigation a.point::after {
    content: '';
    position: absolute;
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #bbb;
    left: 100%;
    top: 13px;
}

.navbar-toggle {
    float: left;
    margin-left: 15px;
}

.dropdown-backdrop {
    position: static;
}

.navmenu {
    width: 200px;
}

.navbar-default {
    background: none;
    border: none;
}

.navbar-toggle {
    margin-top: 25px;
    background: #fff;
}

.navbar-fixed-top {
    width: 75px;
}


/*

====================================================
                Content
====================================================

*/


/*
------------------------------------
            Promo
------------------------------------
*/

.promo {
    max-height: 500px;
    height: 500px;
    background: url("../img/promo-bg.jpg") no-repeat top center;
    color: #fff;
}

.promo .row {
    padding-top: 100px;
    text-align: center;
    height: 500px;
}

.owl-carousel {
    max-height: 500px;
    position: relative;
}

.owl-paginator {
    display: none !important;
}

.owl-item {
    max-height: 500px;
}

.owl-prev,
.owl-next {
    font-size: 28px;
}


/* .owl-nav {
    position: absolute;
    bottom: 0;
    left: 0;
} */

#owl-demo .owl-prev {
    position: absolute;
    top: 250px;
    left: 0;
}

#owl-demo .owl-next {
    position: absolute;
    top: 250px;
    right: 0;
}

.owl-dots {
    display: none;
}

.promo .item {
    width: 100%;
    max-width: 600px;
    max-height: 500px;
    margin: 0 auto;
    position: relative;
    padding-top: 120px;
}

.item-link {
    display: block;
    width: 100%;
    max-width: 600px;
    max-height: 500px;
    margin: 0 auto;
    height: 500px;
    text-decoration: none;
    color: #fff;
    position: relative;
}

.item-link:hover {
    text-decoration: none;
    color: #fff;
}

.item-inside {
    width: 280px;
    height: 310px;
    border: 7px solid #b28a48;
    margin: 0 auto;
    z-index: -1;
}

.item-inside-inside {
    width: 262px;
    height: 292px;
    border: 1px solid #b28a48;
    margin: 0 auto;
    z-index: -1;
    margin-top: 2px;
}

.item-descr {
    margin-top: -280px;
}

h2.title {
    text-transform: uppercase;
    margin: 0 auto;
    font-size: 30px;
    line-height: 40px;
    padding-bottom: 20px;
}

.item-descr h1.title {
    padding-bottom: 40px;
}

.item-descr p {
    font-family: 'MyriadProRegular';
    margin: 0 auto;
    max-width: 560px;
    font-size: 18px;
    line-height: 24px;
}

.item-link::before {
    content: '';
    display: block;
    background: #000;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 214px;
    left: 45%;
}

.item-link::after {
    content: '\f105';
    font-family: fontawesome;
    position: absolute;
    top: 232px;
    left: 49%;
    font-size: 32px;
    color: #fff;
}


/*
------------------------------------
            Founds
------------------------------------
*/

// .founds-wrapper {
//     max-width: 470px;
// }

.founds {
    padding-top: 50px;
    padding-bottom: 80px;
    background: #fff;
}

.founds h2.title,
.news h2.title,
.partners h2.title,
.rent h2.title {
    padding-bottom: 10px;
}

// .founds h2.title::before {
//     content: '';
//     display: block;
//     width: 140px;
//     height: 5px;
//     background: url('../img/string.png');
//     position: absolute;
//     top: 60px;
//     left: 25%;
// }

.underline {
    background: url('../img/string.png');
    margin: 0 auto;
    height: 5px;
    width: 140px;
    margin-bottom: 80px;
}

// .founds h2.title::after {
//     content: '';
//     display: block;
//     width: 5px;
//     height: 5px;
//     border-radius: 50%;
//     border: 1px solid #b28a48;
//     background: #fff;
//     position: absolute;
//     top: 58px;
//     left: 50%;
// }

.founds p {
    margin: 0;
    color: #767676;
    font-size: 14px;
    line-height: 18px;
    font-family: 'MyriadProRegular';
}

.trophy {
    padding-top: 30px;
    padding-bottom: 30px;
}

.trophy-img {
    float: left;
    background: url('../img/trophy.png');
    width: 150px;
    height: 150px;
}

.trophy p {
    padding-top: 50px;
    width: 270px;
    float: right;
    font-size: 15px;
    color: #000;
    font-family: 'DejaVuSerifBook';
}

.founds-item {
    display: block;
    position: relative;
    text-decoration: none;
    max-width: 240px;
    height: 170px;
    padding: 20px 5px 5px 5px;
}

.founds-item-title {
    display: block;
    color: #000;
    text-align: center;
    font-size: 13px;
    line-height: 18px;
    width: 155px;
    margin: 0 auto;
}

.item-open {
    display: none;
    position: absolute;
    top: 165px;
    left: 0;
    width: 100%;
    min-height: 130px;
    padding: 0 10px 20px 10px;
    text-align: center;
    color: #767676;
}

.item-open p {
    font-size: 12px;
    padding-bottom: 10px;
}

.round-arrow {
    width: 32px;
    height: 32px;
    border: 2px solid #d4c09f;
    border-radius: 50%;
    margin: 0 auto;
    padding-top: 1px;
}

.round-arrow-inside {
    width: 26px;
    height: 26px;
    border: 1px solid #d4c09f;
    border-radius: 50%;
    margin: 0 auto;
    padding-top: 3px;
}

.cards-number {
    z-index: 11;
    height: 85px;
    width: 85px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    padding-top: 34px;
    color: #000;
}

.cards-number::before {
    background: url('../img/frame.png') no-repeat center;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
}

.founds-item:hover {
    background: #f6f6f6;
    z-index: 15;
    text-decoration: none;
}

.founds-item:hover .item-open {
    background: #f6f6f6;
    display: block;
}

.founds-item:hover .cards-number:before {
    animation: founds-square 1s ease;
    animation-fill-mode: both;
}

@keyframes founds-square {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(45deg);
    }
}


/*
------------------------------------
            News
------------------------------------
*/

.news {
    background: url("../img/news-bg.jpg") no-repeat top center;
    min-height: 390px;
    color: #fff;
    padding: 30px 0;
}

// .news h2.title {
//     padding-bottom: 80px;
//     position: relative;
// }

// .news h2.title::before {
//     content: '';
//     display: block;
//     width: 140px;
//     height: 5px;
//     background: url('../img/string.png');
//     position: absolute;
//     top: 60px;
//     left: 25%;
// }

// .news h2.title::after {
//     content: '';
//     display: block;
//     width: 5px;
//     height: 5px;
//     border-radius: 50%;
//     border: 1px solid #b28a48;
//     background: #5a564f;
//     position: absolute;
//     top: 58px;
//     left: 50%;
// }

.news .slider {
    height: 240px;
}

.news-notice {
    text-align: left;
}

.news-notice-left {
    width: 25%;
    float: left;
    background: url('../img/date_frame.png') no-repeat;
    height: 55px;
    padding: 10px;
}

.news-notice-left b {
    font-size: 24px;
}

.news-notice-right {
    width: 75%;
    float: right;
}

.news-notice p {
    font-family: 'MyriadProRegular';
    font-size: 14px;
    line-height: 18px;
}

// .news-notice::before {
//     content: '';
//     width: 60px;
//     height: 55px;
//     position: absolute;
//     left: 0;
//     top: 0;
//     background: url('../img/date_frame.png');
// }

// .news-time {
//     display: block;
//     font-size: 24px;
//     width: 50px;
//     height: 45px;
//     position: absolute;
//     left: 10px;
//     top: 15px;
// }

#owl-demo2 .owl-nav.disabled {
    display: block;
}

#owl-demo2 .owl-prev {
    position: absolute;
    top: 100px;
    left: -30px;
}

#owl-demo2 .owl-next {
    position: absolute;
    top: 100px;
    right: -30px;
}

#owl-demo2 .owl-prev,
#owl-demo2 .owl-next {
    top: 10px;
}


/*
------------------------------------
            Partners
------------------------------------
*/

.partners {
    min-height: 510px;
    padding: 50px 0; 
}

// .partners h2.title {
//     padding-bottom: 80px;
//     position: relative;
// }

// .partners h2.title::before {
//     content: '';
//     display: block;
//     width: 140px;
//     height: 5px;
//     background: url('../img/string.png');
//     position: absolute;
//     top: 60px;
//     left: 25%;
// }

// .partners h2.title::after {
//     content: '';
//     display: block;
//     width: 5px;
//     height: 5px;
//     border-radius: 50%;
//     border: 1px solid #b28a48;
//     background: #fff;
//     position: absolute;
//     top: 58px;
//     left: 50%;
// }

.partners-wrapper {
    max-width: 700px;
    margin: 0 auto;
    font-size: 0;
}

.partners-item {
    width: 220px;
    height: 150px;
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
}

.partners-item img {
    display: block;
    margin: 0 auto;
    padding-top: 30px;
}

.partners-item:nth-child(1),
.partners-item:nth-child(2),
.partners-item:nth-child(3) {
    border-bottom: 1px solid #dadada;
}

.partners-item:nth-child(1),
.partners-item:nth-child(2) {
    border-right: 1px solid #dadada;
}

.partners-item:nth-child(4),
.partners-item:nth-child(5) {
    border-right: 1px solid #dadada;
}

/*
------------------------------------
            Rent
------------------------------------
*/

.rent {
    height: 560px;
    padding-top: 40px;
    background: #404040;
}

.rent h2 {
    color: #fff;
}

.rent .underline {
    margin-bottom: 15px;
}

// .rent h2.title::before {
//     content: '';
//     display: block;
//     width: 140px;
//     height: 5px;
//     background: url('../img/string.png');
//     position: absolute;
//     top: 60px;
//     left: 25%;
// }

#owl-demo3 .rent-item:hover {
    background: none;
}

.container-rent {
    // max-width: 1200px;
    margin: 0 auto;
}

.rent-item {
    width: 100%;
    min-height: 450px;
    min-width: 280px;
    // background-color: #000;
    // opacity: 0.4;
    position: relative;
    background-color:rgba(0,0,0,0.3);
}

#owl-demo3 .iris {
    background: url("../img/iris.jpg") no-repeat;
}

/*#owl-demo3 .iris:hover {
    background-position: 0 -225px;
}*/

#owl-demo3 .iris:hover,
#owl-demo3 .monolit:hover
 {
    animation: rent-item 1s ease;
    animation-fill-mode: both;
}

#owl-demo3 .monolit {
    background: url("../img/monolit.jpg") no-repeat;
}

/*#owl-demo3 .monolit:hover {
    background-position: 0 -225px;
}*/

#owl-demo3 .monolit:hover {
    background-position: 0 -225px;
}

.rent-info {
    position: absolute;
    padding: 0 20px;
    text-align: left;
    height: 130px;
    width: 100%;
    bottom: 0px;
    left: 0;
    color: #fff;
    z-index: 3;
}

span.rent-number {
    display: block;
    font-size: 30px;
    line-height: 30px;
    color: #b28a48;
    margin-bottom: 30px;
}

span.rent-place {
    display: block;
    color: #fff;
    padding-bottom: 10px;
}

span.rent-city {
    display: block;
    color: #fff;
}

.rent-popup {
    height: 225px;
    // background: #fff;
    background-color:rgba(255,255,255,1);
    position: absolute;
    padding: 160px 20px 0 20px;
    bottom: -250px;
    left: 0;
    width: 100%;
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    color: #767676;
}

#owl-demo3 a:hover .rent-info {
    animation: rent-info 1s ease;
    animation-fill-mode: both;
    color: #000;
}

#owl-demo3 a:hover span.rent-place {
    color: #010000;
}

#owl-demo3 a:hover span.rent-city {
    color: #767676;
}

#owl-demo3 a:hover .rent-popup {
    animation: rent-popup 1s ease;
    animation-fill-mode: both;
}

@keyframes rent-item {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 -225px;
    }
}

@keyframes rent-info {
    from {
        bottom: 0;
        color: #fff;
    }
    to {
        bottom: 60px;
        color: #000;
    }
}

@keyframes rent-popup {
    from {
        bottom: -225px;
    }
    to {
        bottom: 0;
    }
}


/*

====================================================
                Footer
====================================================

*/

.footer-main {
    min-height: 70px;
    background: #fff;
    font-size: 13px;
    line-height: 14px;
    padding: 23px 0;
}